{% extends 'base.html'%} 
{% import 'macros.html' as macro%}
{% block content %}
<div class="container-fluid welcome-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 welcome">
                <h1>Welcome to Minute Pitch</h1>
                
                {% if current_user.is_authenticated%}
                <a id="start" class="btn btn-danger" href="{{url_for('main.home')}}">View Pitches</a>
                {% else %}
                <a id="start" class="btn btn-danger" href="{{url_for('auth.login')}}">Sign In</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
     <!-- Interview Pitches -->
     <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4>Interview Pitch</h4>
            <p class = "cardbody" style="font-size: 14px"></p>
            <a href="{{url_for('main.pitches',category='interview ')}}" class="btn btn-warning center-block" role="button">View</a>
          </div>
        </div>
      </div>
     
      <!-- Product Pitches -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4>Product Pitch</h4>
            <p class = "cardbody"  style="font-size: 14px"></p>
            <a href="{{url_for('main.pitches',category='product')}}" class="btn btn-warning center-block" role="button">View</a>
          </div>
        </div>
      </div>

      <!-- Promotion Pitches -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4>Promotion Pitches</h4>
            <p class = "cardbody" style="font-size: 14px"></p>
            <a href="{{url_for('main.pitches',category='promotion')}}"class="btn btn-warning center-block" role="button">View</a>
          </div>
        </div>
      </div>

      <!-- Business Pitches -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4>Business Pitches</h4>
            <p class = "cardbody" style="font-size: 14px"></p>
            <a href="{{url_for('main.pitches',category='business')}}" class="btn btn-warning center-block" role="button">View</a>
          </div>
        </div>
      </div>

      <!-- Tech-Projects Pitches -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4>Technology Pitches</h4>
            <p class = "cardbody" style="font-size: 14px"></p>
            <a href="{{url_for('main.pitches',category='technology')}}" class="btn btn-warning center-block" role="button">View</a>
          </div>
        </div>
      </div>        
     </div>

</div>

{% endblock %}